[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "==2.18.4"
apistar = "==0.3.9"
"beautifulsoup4" = "==4.6.0"
tweepy = "==3.5.0"
awscli = "*"
zappa = "*"
